<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum.mapper.CommentMapper">
    <resultMap id="CommentResult" type="com.example.forum.repository.entity.Comment">
        <result column="id" property="id" />
        <result column="content" property="content" />
        <result column="report_id" property="reportId" />
        <result column="created_date" property="createdDate" />
        <result column="updated_date" property="updatedDate" />
    </resultMap>
    <select id="getAll" resultMap="CommentResult">
        select id, content, report_id, created_date, updated_date
        from comment
        order by updated_date desc;
    </select>
    <select id="getById" resultMap="CommentResult" parameterType="int">
        select id, content, report_id, created_date, updated_date
        from comment
        where id = #{id}
    </select>
    <insert id="insertComment">
        insert into comment
        (content, report_id, created_date, updated_date)
        values
        (#{content}, #{reportId}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
    </insert>
    <update id="updateComment">
        update comment
        set content = #{content}, updated_date = #{updatedDate}
        where id = #{id}
    </update>
    <delete id="deleteComment" parameterType="int">
        delete from comment where id = #{id}
    </delete>
</mapper>